local_etl_settings.py
.idea/
*.pyc
target/
*.ini
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# pyenv
.python-version

# cython
build/

# buildin setup.py
*.egg-info/

.DS_Store
*.datx

*.gz
*.xz
*.tar
*.zip
*.tgz

# virtualenv
